{% extends 'base.html' %} {% block title %}{{current_user[0][1]}}'s Page{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="card m-3">
    <div class="card-body">
      <img src="static/images/profile_pictures/{{ user_profile_picture }}" style="border-radius: 50%; width: 180px; height: 180px;">
      <h1>{{ user_name }}'s profile</h1>
      <p>It's a bit empty...</p>
    </div>
    <div class="g1x1">
      <div class="grid-item">
        <img src="static/images/profile_pictures/{{ user_profile_picture }}" style="border-radius: 50%; width: 180px; height: 180px;">
        <h1>Change a profile picture</h1>
        <form method=post enctype=multipart/form-data action="/upload-file">
          <input type=file name=file style="border: none;">
          <input type=submit value=Upload>
        </form>
      </div>
    </div>
</body>

</html>
{% endblock %}