{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="center-form">
        <form action="/register" method="POST">
            <h3>Sign up</h3>
            <p>Username</p>
            <p><input type="text" id="nm" name="nm" size="35px"></p>
            <p>Email</p>
            <p><input type="text" id="email" name="email" size="35px"></p>
            <p>Password</p>
            <p><input type="text" id="pword" name="pword" size="35px"></p>
            <p><input class='center-button' type="submit" name="submit"></p>
        </form>
    </div>
</body>
</html>
{% endblock %}